/* style.cssの内容 */

body {
    background-color: #f4f4f9;
    font-family: 'Alial', sans-serif;
    padding: 20px;
}

h1 {
    color: #334455;
    text-align: center;
    border-bottom: 2px solid #334455;
    padding-bottom: 10px;
}

form {
    max-width: 600px;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
    background-color:  #5cb85c;
    color: white;
    padding:  10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

h2 {
    color: #d9534f;
    text-align: center;
    margin-top: 40px;
}